label, select, input {
  margin: 10px;
}

p {
  margin: 0px 10px 0px 10px;
}

.details-heading, header, .event-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary);
}

.details-heading {
  justify-content: space-around;
  font-weight: 700;
  font-size: 1.25em;
}

header {
  margin-bottom: 20px;
  padding: 20px;
}

.events, .details {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.events > li:nth-of-type(odd) {
  background-color: var(--accent);
}

.event-item p {
  width: 150px;
  padding: 20px;
}

.details-heading p {
  padding: 10px;
}

.keyP {
  overflow-wrap: break-word;
}

@media screen and (min-width: 900px) {
  p {
    margin: 10px 0px 10px 0px;
  }
  
  .details-heading, header, .event-item {
    flex-direction: row;
  }

  .events, .details {
    display: flex;
    flex-direction: column;
    overflow-x: inherit;
  }

  .event-item p {
    width: 100%;
  }
}
