* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html, #root {
  --background: #0A121A;
  --primary: #011E38;
  --accent: #00529B;
  --secondary-text: #A3ADB4;
  --primary-text: #FFFFFF;

  font-family: 'Montserrat', sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
}
